<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<p th:text="${book.getName() + ', ' + book.getAuthor()+ ', ' + book.getYear()}">VALUE</p>
<p>Select person to current book:</p>
<p></p>
<select th:object="${person}" th:field="*{id}" id="person">
    <option th:each="person: ${people}" th:value="${person.getId()}" th:text="${person.getFullName()}">
    </option>
</select><input type="submit" value="Set person to the book"/>
<p></p>
<a th:href="@{/books/{id}/edit(id=${book.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>